<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.2.0/css/bootstrap.min.css" />

    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css" />
    <title>Title</title>
</head>
<body>
    <h1>Hello world!</h1>
    <p><span th:text="${mesaj}"></span></p>
    <h2>bau bau</h2>


    <script type="text/javascript"
            src="webjars/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>